:root {
  --font-size: 16px;
  --font-family: sans-serif;
  --font-color: #fff;
  --color-main: #303030;
  --color-secondary: #404040;
  --color-active: #375a7f;
}

html {
  font-family: var(--font-family);
  font-size: var(--font-size);
  color: var(--font-color);
  line-height: 1.6;
  box-sizing: border-box;
  background-color: var(--color-main);
}

*,
*:after,
*:before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

#root {
  margin: 1.5rem;
}

#drum-machine{
	margin: 0 auto;
	max-width: 50%;
	background-color: var(--color-secondary);
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: auto;
}

#machine-display{
	display: flex;
	text-align: center;
	align-items: center;
	order: 2;
	margin: .5rem;
}

#machine-display>*{
	width: 100%;
	background-color: var(--color-main)
}

#machine-controls{
	margin: .5rem;
	display: grid;
	grid-template-columns: auto auto auto;
	grid-template-rows: auto;
	order: 1;
	justify-content: space-evenly;
}

.drum-pad{
	padding: 2rem;
	margin: .5rem;
	text-align: center;
	background-color: var(--color-main);
}

.drum-pad:hover{
	background-color: var(--color-active);
	font-weight: bold;
}