:root {
  --font-size: 16px;
  --font-family: sans-serif;
  --font-color: #fff;
  --color-main: #303030;
  --color-secondary: #404040;
  --number-btn: #c4c5c9;
  --number-btn-active: #bfc0c2;
  --operator-btn: #f98d11;
  --operator-btn-active: #e17c10;
  --general-padding: 1rem;
}

html {
  font-family: var(--font-family);
  font-size: var(--font-size);
  color: var(--font-color);
  line-height: 1.6;
  box-sizing: border-box;
  background-color: var(--color-main);
}

*,
*:after,
*:before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.app{
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

#display{
	text-align: right;
	background-color: var(--color-secondary);
	padding: var(--general-padding);
	font-size: 1.5rem;
}

#calc{
	width: 50%;
}

#pad{
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-template-areas: 
		"clear clear clear divs"
		"seven eight nine mults"
		"four five six subs"
		"one two three adds"
		"zero zero decimal equal";
}

#zero{
	grid-area: zero;
}

#one{
	grid-area: one;
}

#two{
	grid-area: two;
}

#three{
	grid-area: three;
}

#four{
	grid-area: four;
}

#five{
	grid-area: five;
}

#six{
	grid-area: six;
}

#seven{
	grid-area: seven;
}

#eight{
	grid-area: eight;
}

#nine{
	grid-area: nine;
}

#add{
	grid-area: adds;
}

#substract{
	grid-area: subs;
}

#multiply{
	grid-area: mults;
}

#divide{
	grid-area: divs;
}

#decimal{
	grid-area: decimal;
}

#clear{
	grid-area: clear;
}

#equal{
	grid-area: equal;
}

button{
	padding: var(--general-padding);
	border: 1px solid var(--color-main);
	font-size: 1.5rem;
}

.number{
	background-color: var(--number-btn);
}

.number:hover{
	background-color: var(--number-btn-active);
}

.operator{
	background-color: var(--operator-btn);
	color: var(--font-color);
}

.operator:hover{
	background-color: var(--operator-btn-active);
}